/* .right {
    height: 500px;
    background-color: aqua;
}

.left {
    height: 500px;
    background-color: purple;
}


.right1 {
    height: 250px;
    background-color: blue;
}

.right2 {
    height: 250px;
    background-color: yellow;
}

.right3 {
    height: 500px;
    background-color: blue;
}

.right4 {
    height: 500px;
    background-color: yellow;
} */